@media only screen and (max-width: 425px) {
  /* Global Styles */
  * {
    font-size: 8px;
  }

  p {
    font-size: 1.25rem;
  }

  /* Main - Start */
  /* Featured Gallery */
  #featured-gallery .gallery-album {
    grid-template-areas:
      "L1 L1"
      "P1 L2"
      "P1 P2"
      "L3 P2"
      "L4 L4"
      "L5 L5";
  }

  /* Events */
  th {
    font-size: 1.25rem;
  }
  /* Main - End */

  /* Footer - Start */
  footer p {
    text-align: center;
  }

  .dev-tags {
    flex-direction: column;
  }

  .dev-tags p {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
    margin-bottom: 1rem;
    border-bottom: solid 1px;
    padding: 0 1rem 0.5rem;
  }
  /* Footer - End */
}

@media only screen and (max-width: 320px) {
  /* Featured Gallery */
  .album-image.landscape1 {
    grid-area: unset;
  }

  .album-image.landscape2 {
    grid-area: unset;
  }

  .album-image.landscape3 {
    grid-area: unset;
  }

  .album-image.landscape4 {
    grid-area: unset;
  }

  .album-image.landscape5 {
    grid-area: unset;
  }

  .album-image.portrait1 {
    grid-area: unset;
  }

  .album-image.portrait2 {
    grid-area: unset;
  }
  #featured-gallery .gallery-album {
    grid-template-columns: 1fr;
    grid-template-areas: unset;
  }

  #featured-gallery .album-image {
    min-height: 8rem;
    max-height: 16rem;
  }

  #featured-gallery .push-top img {
    height: auto;
    object-position: 50% 25%;
  }
  /* Main - End */
}
